<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0001 - ServiceClassIDList</key>
	<array>
		<data>ESQ=</data>
	</array>
	<key>0004 - ProtocolDescriptorList</key>
	<array>
		<array>
			<data>AQA=</data>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>17</integer>
			</dict>
		</array>
		<array>
			<data>ABE=</data>
		</array>
	</array>
	<key>0005 - BrowseGroupList*</key>
	<array>
		<data>EAI=</data>
	</array>
	<key>0006 - LanguageBaseAttributeIDList*</key>
	<array>
		<dict>
			<key>DataElementSize</key>
			<integer>2</integer>
			<key>DataElementType</key>
			<integer>1</integer>
			<key>DataElementValue</key>
			<integer>25966</integer>
		</dict>
		<dict>
			<key>DataElementSize</key>
			<integer>2</integer>
			<key>DataElementType</key>
			<integer>1</integer>
			<key>DataElementValue</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>DataElementSize</key>
			<integer>2</integer>
			<key>DataElementType</key>
			<integer>1</integer>
			<key>DataElementValue</key>
			<integer>256</integer>
		</dict>
	</array>
	<key>0009 - BluetoothProfileDescriptorList</key>
	<array>
		<array>
			<data>ESQ=</data>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>256</integer>
			</dict>
		</array>
	</array>
	<key>000d - AdditionalProtocolDescriptorLists</key>
	<array>
		<array>
			<array>
				<data>AQA=</data>
				<dict>
					<key>DataElementSize</key>
					<integer>2</integer>
					<key>DataElementType</key>
					<integer>1</integer>
					<key>DataElementValue</key>
					<integer>19</integer>
				</dict>
			</array>
			<array>
				<data>ABE=</data>
			</array>
		</array>
	</array>
	<key>0100 - ServiceName*</key>
	<string>Wireless Gamepad</string>
	<key>0101</key>
	<string>Gamepad</string>
	<key>0102</key>
	<string>Nintendo</string>
	<key>0200</key>
	<data>AQA=</data>
	<key>0201</key>
	<dict>
		<key>DataElementSize</key>
		<integer>2</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>273</integer>
	</dict>
	<key>0202</key>
	<dict>
		<key>DataElementSize</key>
		<integer>1</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>8</integer>
	</dict>
	<key>0203</key>
	<dict>
		<key>DataElementSize</key>
		<integer>1</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>0</integer>
	</dict>
	<key>0204</key>
	<true/>
	<key>0205</key>
	<true/>
	<key>0206</key>
	<array>
		<array>
			<dict>
				<key>DataElementValue</key>
				<integer>34</integer>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>DataElementType</key>
				<integer>4</integer>
				<key>DataElementValue</key>
				<data>BQEVAAkEoQGFMAUBBQkZASkKFQAlAXUBlQpVAGUAgQIFCRkLKQ4VACUBdQGVBIECdQGVAoEDCwEAAQChAAswAAEACzEAAQALMgABAAs1AAEAFQAn//8AAHUQlQSBAsALOQABABUAJQc1AEY7AWUUdQSVAYECBQkZDykSFQAlAXUBlQSBAnUIlTSBAwYA/4UhCQF1CJU/gQOFgQkCdQiVP4EDhQEJA3UIlT+Rg4UQCQR1CJU/kYOFgAkFdQiVP5GDhYIJBnUIlT+Rg8A=</data>
			</dict>
		</array>
	</array>
	<key>0207</key>
	<array>
		<array>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>1600</integer>
			</dict>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>256</integer>
			</dict>
		</array>
	</array>
	<key>020b</key>
	<dict>
		<key>DataElementSize</key>
		<integer>2</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>256</integer>
	</dict>
	<key>020c</key>
	<dict>
		<key>DataElementSize</key>
		<integer>2</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>3200</integer>
	</dict>
	<key>020d</key>
	<false/>
	<key>020e</key>
	<true/>
	<key>020f</key>
	<data>BkA=</data>
	<key>0210</key>
	<data>AyA=</data>
</dict>
</plist>
